<!doctype html>
<html>
<head>
    <title>ASSIGNMENT 1</title>
</head>
<body>
  <h1>Name: Deepesh Bhatta <br>
  </h1>
<form method="POST" action="" enctype="multipart/form-data">
    <p><input type="file" name="file"></p>
    <p><input type="submit" value="Submit"></p>
</form>

<div>
    <h3>search for name</h3>
    <form action="./search" method="POST" enctype="multipart/form-data">
        <input type="text" value="" name="query" placeholder="search">
        <input type="submit" value="Search">
    </form>
    <table>
        {% for person in results %}
        <tr>
            <td><img src="static/files/{{person[4]}}"></td>
        </tr>
        {% endfor %}
    </table>
    <h3>search for picture by salary</h3>
    <form action="./searchBySalary" method="POST" enctype="multipart/form-data">
        <input type="text" value="" name="query" placeholder="search">
        <input type="submit" value="Search">
    </form>
    <table>
        {% for person in salaryResults %}
        <tr>
            <td><img src="static/files/{{person[4]}}"></td>
        </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <td>name</td>
            <td>salary</td>
            <td>room</td>
            <td>telnum</td>
            <td>picture</td>
            <td>keywords</td>
            <td>Actions</td>
        </tr>
        {% for person in people %}
        <tr>
            <td>{{person[1]}}</td>
            <td>{{person[2]}}</td>
            <td>{{person[3]}}</td>
            <td>{{person[4]}}</td>
            <td><img height="50" width="50" src="static/files/{{person[5]}}"></td>
            <td>{{person[6]}}</td>
            <td><a href="./people/edit/{{person[0]}}">edit</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
